/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .col {
     background: #313639;
     color: #b4b6b8;
     height: 50vh;
     border: 25px solid #b4b6b8;
     box-shadow: 1px 1px 1px 1px #b4b6b8;

 }

 .col-2 {
     background: #313639;
     color: #b4b6b8;
     border-right: 1px solid #b4b6b8;
     box-shadow: 1px 1px 1px 1px #b4b6b8;
}

.col-sidebar {
    line-height: 35px;
    border-bottom: 1px solid #b4b6b8;
}